html, body {margin: 5px 5px 5px 5px; background-color: lightblue;}
.post-div {padding: 10px;}
.post-div h3 {margin-bottom: -8px; padding-bottom: -10px;}
.btm-border {border-bottom: 2px solid grey;}
.error-message {color:red;}
.created {margin-bottom: -8px; padding-bottom: 0px;}
.post-content {white-space: pre-line; margin-top: 6px;}
.nav-bar a {padding: 5px; font-weight: bold; font-size: 15px; margin-right: 20px; transition: font-size 1s;}
.nav-bar a:hover {font-size: 20px; transition: font-size 1s;}
.nav-bar {margin: 0 0 -20px 0; padding: 0 0 0 0;}
.delete-keep-btns {padding:5px;} 
textarea {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; resize: vertical;}