{% extends "main.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<form method="post">
			<h1>Delete Data</h1>
			<label>
				<input type="checkbox" name="users">
				Users Data
			</label>
			<br>
			<label>
				<input type="checkbox" name="posts">
				Posts Data
			</label>
			<br>
			<input type="submit">
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h1>Users:</h1>
		{% for x in users %}
		<h6>{{x.username}} -- {{x.password}}</h6>
		{% endfor %}
	</div>
	<div class="col-md-6">
		<h1>Posts:</h1>
		{% for x in blogposts %}
		<h6>{{x.title}} -- {{x.username}} -- {{x.created}}</h6>
		{% endfor %}
		
	</div>
</div>
{% endblock %}
