{% extends "main.html" %}
{% block content %}
<div class="row text-center">
	<div class="col-md-12">
        <h1>New Blog Entry</h1>
    </div>
</div>
<hr>
<div class="row text-center">
    <div class="col-md-12">
        <form method="post">
            <label>
                <div>Title</div>
                <input type="text" name="subject">
            </label>
            <br>
            <label>
                <div>New Entry</div>
                <textarea rows="15" cols="75" name="content"></textarea>
            </label>
            <br>
            <p class="error-message">{{error}}</p>
            <button>Submit New Entry</button>
        </form>
    </div>
</div>
{% endblock %}