{% extends "main.html" %}
{% block content %}
<hr>
<div class="row text-center">
	<div class="col-md-12">
        <h1>New Blog Entry</h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <form method="post">
            <div><h4>Title</h4></div>
            <input type="text" name="subject" style="width: 50%;">
            <br>
            <br>
            <div><h4>New Entry</h4></div>
            <textarea rows="20" name="content"></textarea>
            <br>
            <p class="error-message">{{error}}</p>
            <button class="btn btn-primary btn-lg">Submit New Entry</button>
            <a href="/" class="btn btn-default btn-lg">Cancel Entry</a>
        </form>
    </div>
</div>
{% endblock %}