{% extends "main.html" %}
{% block content %}
<hr>
<div class="row">
	<div class="post-div col-md-12 btm-border">
        <h1>{{post.title}}</h1>
        <h6 class="created">{{post.created.strftime("%b %d, %Y")}}</h6>
        <h6>Author: {{post.username}}</h6>
        <p class="post-content">{{post.post | safe}}</p>
        <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#comment-modal">New Comment</button>
	</div>
	<div class="col-md-12">
		<h2>Comments:</h2>
	</div>
</div>
<!-- Comment Modal -->
<div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center"><h1>Enter Comment</h1></div>
      <div class="modal-body text-right">
      	<form method="post">
      		<textarea name="new_comment"></textarea>
      		<br>
      		<br>
      		<button class="btn btn-lg btn-default" data-dismiss="modal">Close</button>
      		<button class="btn btn-lg btn-primary">Submit</button>
      	</form>
      </div>
    </div>
  </div>
</div>
{% for x in comments %}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10 btm-border">
		<h3>by: {{x.username}}</h3>
		<p>{{x.comment}}</p>
	</div>
</div>
{% endfor %}
{% endblock %}