{% extends "main.html" %}
{% block content %}
<hr>
<div class="row text-center">
	<div class="col-md-12">
        <h1>Sign Up</h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <form method="post">
            <label>
                <div>Username:</div>
                <input type="text" name="username" value="{{usernameVal}}">
                <p class="error-message">{{usernameError}}</p>
            </label>
            <br>
            <label>
                <div>Password:</div>
                <input type="password" name="password">
                <p class="error-message">{{passwordError}}</p>
            </label>
            <br>
            <label>
                <div>Verify Password:</div>
                <input type="password" name="verify">
                <p class="error-message">{{verifyError}}</p>
            </label>
            <br>
            <label>
                <div>Email Address:</div>
                <input type="text" name="email">
                <p class="error-message">{{emailError}}</p>
            </label>
            <br>
            <button>Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}